:root {
    --gray: #f0f0f0;
    --dark-gray: #222222;
    --off-white: #e9e9e9;
    --white: #ffffff;

    --skyblue: #4cc4f3;
    --skyblue-hovered: #2d9fe0;
    --dark-blue: #287be7;
    --test: #034ea5;
}

body {
    position: relative;

    font-family: "Feather Bold";
    background-color: var(--off-white);
    color: var(--dark-gray);

    margin: 0;

    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--dark-blue);
    color: white;
    box-shadow: 0px 2px 12px rgba(0,0,0, 0.4);

    width: 100%;
}

header h1,
header h3 {
    margin: 10px;
    padding: 0 20px;
}

main {
    position: absolute;

    height: fit-content;

    width: calc(100% - 40px);
    padding: 20px;
}

.sort-and-accounts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-by {
    background-color: var(--white);
    padding: 10px 15px;

    box-shadow: 4px 4px 8px rgba(0,0,0, 0.4);
    border-radius: 8px;
}

select {
    font-family: inherit;
    width: 120px;
    font-size: 1em;

    padding-left: 5px;

    border-radius: 8px;
}

.accounts-list {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.account-list-names {
    position: relative;

    padding: 10px 15px;
    margin: 0;

    background-color: var(--dark-blue);
    color: white;

    box-shadow: 4px 4px 8px rgba(0,0,0, 0.4);
    border-radius: 8px;
}

.account-list-names:hover {
    cursor: pointer;
    background-color: var(--white);
    color: black
}

.main-display {
    position: relative;
    
    height: 95%;
    min-height: 95%;

    display: flex;
    flex-direction: column;

    gap: 12px;
}

.table-container {
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0,0,0, 0.4);

    padding: 20px;

    border-radius: 8px;
}

table {
    width: 100%;
    text-align: left;

    background-color: var(--white);

    border-collapse: collapse;

    padding: 20px;

    border: 1px solid var(--off-white);
    border-radius: 8px;
}

thead {
    border-radius: 15px;
    color: white;
}

th {
    background-color: var(--dark-blue);
    padding: 0 10px;

    height: 40px;

    color: var(--light-gray);
}

td {
    padding: 0 10px;
    color: var(--button-hover);
}

tr {
    height: 50px;
}

tr:nth-child(odd) {
    background-color: var(--gray);
}
tr:nth-child(odd) {
    background-color: var(--off-white);
}

thead th:first-child {
    border-top-left-radius: 8px;
    
}

thead th:last-child {
    border-top-right-radius: 8px;
   
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.first-row {
    display: flex;

    gap: 12px;
    width: 100%;

    max-height: 500px;
}

.pieGraph {
    position: relative;

    flex: 1 1 50%;
    max-width: 500px;

    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0,0,0, 0.4);

    padding-bottom: 10px;
}

.data-flex-right {
    flex: 1 1 50%;
    min-width: 300px;
    
    display: flex;
    flex-direction: column;
    gap: 12px;

    height: auto;
}

.number-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));

    grid-gap: 15px;
    width: 100%;
    height: auto;
}

.data-box {
    padding: 10px 12px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0,0,0, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.data-box h3,
.data-box h2 {
    margin: 0;
}

.bar-graph {
    flex-grow: 1;

    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0,0,0, 0.4);

    padding: 10px;
}

.lineChart {
    max-height: 90%;
}